// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  margin-left:30px;
}

header{
  width: 100%;
  padding: 20px 0;
  padding-bottom:0;
  display:flex;
}

table
{
}

th{
  display:table-cell;
  padding:5px 100px;
  padding-bottom: 5px;
}

tbody{
}

tr{
  display:table-row;
  margin-left:30px;
}

td{
  diplay:table-cell;
   padding-bottom:7px;
  padding-right: 5px;
}

a {
  color: black;
}
