*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-visual-text{
  color:#848282;
  padding-top:20px;
  padding-left: 20px;
}

.main-visual{
  width: 100%;
  height: 400px;
  background-image:url(img/mv.jpg);
  background-size:cover;
  background-position: bottom;
}

main{
  width:840px;
  margin:0 auto;
  padding:50px 0;

}

.wc{
  padding-bottom:30px;
 border-bottom:1px solid #d1d1d1;
}

.wcp{
  padding:30px 0;
  border-bottom:1px solid #d1d1d1;
}

.wcw{
  padding:30px 0;
  border-bottom:1px solid #d1d1d1;
}

.wcc{
  padding:30px 0;
  border-bottom:1px solid #d1d1d1;
}