<show>
    <div class= "success">
        <%= flash[:notice] %>
    </div>
    <div class ="showtitle">
<strong>Title:</strong><%= @book.title %>
</div>
<br>
<div class ="showbody">
<strong>Body:</strong><%= @book.body %>
<br>
</div>
<div class="showeditback">
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<a href="/books">Back</a>
</div>
</show>