*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.flex{
  display:flex;
  background-color:red;
  padding:30px 20px;
  justify-content:flex-end;
}

.flex >div{
   flex-basis:140px;
  height:70px;
  margin:0 10px;
  background-color:pink;
}

.flex> :first-child{
  margin-right:auto;
}

main{
  display:flex;
  justify-content:center;
}

.sidebar{
  width:300px;
  background-color:palegreen;
}

.flexmain{
 max-width:700px;
  background-color:limegreen;
  padding:20px;

  flex-grow:1;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.flexmain > div{
  flex-basis:200px;
  height:130px;
  margin:10px;
  background-color:yellow;
}

.flexfooter{
  display:flex;
  width:100%;
  padding:20px;
  background-color:skyblue;
   justify-content:center;
   flex-wrap:wrap;
}

.flexfooter>div{
  width:45%;
  max-width:600px;
  height:40px;
  margin:10px;
  background-color:blue;
}